<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/styles.css" />
    <title>To Do List</title>
  </head>
  <body>
    <h2>To Do</h2>
      <input type="text" placeholder="to do item" id="inputToDo"/>
      <input type="submit" value="add" id="submit"/>
      <ul id="toDoList">
        <!-- to do list items go here -->
      </ul>
  </body>
</html>
